.logo {
  color: rgb(172, 248, 225);
  font-weight: 600;
  font-size: 1.5rem;
}

.wrapper {
  padding: 2rem 6rem;
  position: sticky;
  top: 0;
  background-color: rgba(21, 21, 21, 0.824);
  z-index: 5000;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgb(42, 42, 42);
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
