.wrapper {
}

.navbar {
  display: flex;
  gap: 1rem;
  color: white;
}

.listItem {
  background-color: rgba(0, 0, 0, 0.396);
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(20px);
  transition: ease 0.3s;
}

.listItem:hover {
  background-color: rgba(127, 127, 127, 0.424);
}

.search {
  background-color: rgba(0, 0, 0, 0.396);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}
